[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
psycopg2 = "*"
django-cors-headers = "*"
django-debug-toolbar = "*"
django-allauth = "*"
djangorestframework-simplejwt = "*"
daphne = "*"
pytest = "*"
pytest-django = "*"
factory-boy = "*"
python-dotenv = "*"
channels-redis = "*"
redis = "*"
channels = "*"
django-redis = "*"
python-decouple = "*"
dj-database-url = "*"
whitenoise = "*"

[dev-packages]

[requires]
python_version = "3.12"
python_full_version = "3.12.4"
